<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>app-switch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">app-switch</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="step === 'init'">
    <ion-spinner name="crescent"></ion-spinner>
    <ion-text> Redirecting to MitID...</ion-text>
  </ng-container>

  <ng-container  *ngIf="step === 'redirect'">
    <p>{{count}}</p>
    <p>You'll be redirected to the app soon.</p>
    <p>If youre not redirected after the countdown is finished, close the browser manually (top-left corner)</p>
  </ng-container>

  <ng-container  *ngIf="step === 'error'">
    <p>ERROR</p>
  </ng-container>
</ion-content>
