<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="handleSignicat()">
    Connect to mit id
  </ion-button>
  <ion-button color="danger" (click)="getToken()">
   get token
  </ion-button>
  <pre>{{ paramsLog | json }}</pre>
  <ion-text>Stored state: {{storedState}}</ion-text>
  <br />
  <ion-text>Stored code verifier: {{storedCodeVerifier}}</ion-text>
  <pre>{{ response_data | json }}</pre>
</ion-content>
